body{
    background-color: #000;
    color: #fff;
}

.mini-projects{
    color: #000;
    height: 800px;
}

#display {
    background: url(../img/code.jpg);
    background-size: cover;
    height: 700px;
}

.showcase {
    height: 700px;
    background-color: #000;
    color: #fff;
}

#display-text {
    position: relative;
    top: 100px;
    opacity: 0.8;
}

.img {
    width:  100px;
}

.all-projects{
    background-color: #fff;
    color: #000;
}

.spacer{
    height: 50px;
}


/* projects page detail */
.project-detail{
    background-color: #fff;
    color: #000;
    height: 1200px;
}

.project-art{
    float: right;
    width: 500px;
    height: 500px;
}