body{
    background-color: #000;
    color: #fff;
}

.mini-projects{
    color: #000;
    height: 700px;
}

#display {
    background: url(../img/code.jpg);
    background-size: cover;
    height: 700px;
}

#display-text {
    position: relative;
    top: 100px;
    opacity: 0.8;
}

.img {
    width:  100px;
}

.all-projects{
    background-color: #fff;
    color: #000;
}

.spacer{
    height: 50px;
}