{%extends 'base.html'%}


{% block content %}
{{block.super}}

<div class="container-fluid"  id="display" >

  <div class="container">
      <div class="card flow-text white-text text-center black" id="display-text">
          <div class="card-content center-align">
              <h1>Get A Review</h1>
          </div>
         <div class="card-content center-align">
            <p>Upload a project for ratings and peer reviews today</p>
            <br>
            <br>
         </div>
 </div>
  </div>

</div>


<div class="container-fluid all-projects" id="#projectarea">

    <br>
    <br>
    <br>

    <h4 class="center-align">Projects</h4>

    <br>
    
    <div class="row">
    
     <!-- Looping through projects   -->
     {% for project in projects %}
    
    
    
       <!-- displaying projects -->
       <div class="col s12 m3 l3">
        <a href="/project/{{project.id}}"><div class="card mini-projects">
             <div class="container-fluid">
                    <div class="card-content">
                        <div class="container">
                            <span class="card-title center-align"><h6>{{project.title}}</h6></span>
                        </div>
                    </div>
                    <div class="card-image">
                        <img class="img" src="{{project.project_image.url}}" alt="">
                    </div>
                    <div class="card-content spacer">
                      <br>
                      <br>
                      <br>
                    </div>  
                    <div class="card-content">
                        {% autoescape on %}
                            {{project.post| safe}}
                        {% endautoescape %}

                        <br>

                        <br>

                        Posted by {{project.editor}} on {{project.pub_date}}
                    </div>
             </div>
         </div></a> 
       </div>
    
    
    
     {% empty %}
     <div class="row">
       <h2 class="text-center">There No Project Items</h2>
     </div>
     {% endfor %}
</div>

</div>

{% endblock %}