<div class="container-fluid">
        <nav>
                <div class="nav-wrapper black">
                    <ul class="left hide-on-med-and-down">
                                <li><a href="#">Menu</a></li>
                                <li><a href="{% url 'search' %}"><i class="material-icons">search</i></a></li>
                    </ul>
                  <a href="{% url 'index' %}" class="brand-logo center">Awwwards</a>
                  <ul id="nav-mobile" class="right hide-on-med-and-down">
                    {% if user.is_authenticated %}
                        <li><a class="btn black white-text" href="{% url 'myprofile' %}">{{user.username}}</a></li>
                        <li><a class="btn" href="/logout">logout</a></li>
                    {% else %}
                        <li>
                        <a href="/accounts/login">Login</a>
                        </li>
                    {% endif %}

                  <li class="white"><a href="/upload" class=" black-text">Submit Your Website</a></li>
                  
                </ul>
                </div>
        </nav>
</div>