{% extends 'base.html' %}
{% block content%}
    <div class="container">
            <br>
            <br>
            <br>
            <br>
             <form class="col s12">
                    <div class="row">
                      <div class="input-field col s12">
                        <input id="icon_prefix" type="text" class="validate white-text">
                        <label for="icon_prefix">Search Projects</label>
                      </div>
                    </div>
            </form>
    </div>
 {% endblock %}